@import '/src/styles/font-size';
.form{
    min-height: var(--f-height);
    background: var(--white-color);
    position: relative;
    &::before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background: var(--form-background-primary);
        transform: rotate(180deg);
    }
    .content{
        position: relative;
        z-index: 10;
        margin: 0 auto;
        padding: 0 var(--size-16);
        min-height: calc(100vh - var(--size-40));
    }
    .logo{
        max-width: 150px;
        img{
            width: 100%;
            height: auto;
            &:last-child{
                padding-top: var(--size-20);
            }
        }
        margin: 0 auto;
    }
    padding-top: var(--size-40);
    .rollback{
        position: absolute;
        top: 0;
        left: var(--size-20);
        i{
            @include font-size('large');
            color: var(--white-color);
        }
        width: var(--size-24);
        height: var(--size-24);
    }
}

@media screen and (max-width: 991px) {
    .form{
        .logo{
            max-width: 100px;
            max-height: 100px;
        }
    }
}