@mixin font-size($tag) {
    @if $tag == 'small' {
        font-size: var(--size-14);
    } @else if $tag == 'large' {
        font-size: var(--size-18);
    } @else if $tag == 'medium' {
        font-size: var(--size-16);
    } @else if $tag == 'xs' {
        font-size: var(--size-12);
    } @else if $tag == 'heading' {
        font-size: var(--size-20);
    } @else if $tag == 'h1' {
        font-size: var(--size-24);
        font-weight: var(--weight-700);
    }
}