@import './transtition';

@mixin input-error-start {
    @include opacity(0);
    @include scale(0.65);
}

@mixin input-error-exit {
    @include opacity(1);
    @include scale(1);
}

.input-error-enter{
    @include input-error-start();
}
.input-error-enter-active{
    @include input-error-exit();
    transition: all .5s ease-in-out;
}
.input-error-exit{
    @include input-error-exit();
}
.input-error-exit-active{
    @include input-error-start();
    transition: all .5s ease-in-out;
}

@mixin scrollLeftStart {
    @include opacity(0);
    @include translateX(100%);
}
@mixin scrollLeftActive {
    @include opacity(1);
    @include translateX(0);
}

.scroll-left-enter{
    @include scrollLeftStart();
}
.scroll-left-enter-active{
    @include scrollLeftActive();
    transition: all .5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
}
.scroll-left-exit{
    @include scrollLeftActive();
}
.scroll-left-exit-active{
    @include scrollLeftStart();
    transition: all .5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

@mixin fadeEnter {
    @include opacity(.75);
}
@mixin fadeActive {
    @include opacity(1);
}

.fade-enter{
    @include fadeEnter();
}
.fade-enter-active {
    @include fadeActive();
    transition: all .5s ease-in-out;
}
.fade-exit{
    @include fadeActive();
}
.fade-exit-active{
    @include fadeEnter();
    transition: all .3s ease-in-out;
}
@mixin scrollYStart {
    @include opacity(0);
    @include translate(-50%, -100%);
}
@mixin scrollYFinish {
    @include opacity(1);
    @include translate(-50%, -50%);
}

.scroll-back-enter {
    @include scrollYStart();
}
.scroll-back-enter-active{
    @include scrollYFinish();
    transition: all .5s ease-in-out;
}
.scroll-back-exit{
    @include scrollYFinish();
}
.scroll-back-exit-active {
    @include scrollYStart();
    transition: all .5s ease-in-out;
}