@mixin scale ($value) {
    transform: scale($value);
}
@mixin opacity($value) {
    opacity: $value;
}

@mixin translateY($value) {
    transform: translateY($value);
}
@mixin translateX($value) {
    transform: translateX($value);
}
@mixin translate($valueX, $valueY) {
    transform: translate($valueX, $valueY);
}