:root {
  --header-height: 100px;



  --sp-header: rgb(26, 148, 255);
  --body-color: #efefef;
  --title-color: #000000;
  --text-color: rgb(36, 36, 36);
  --white-color: #fff;

  --size-14: 14px;
  --size-16: 16px;
  --size-18: 18px;
  --size-20: 20px;
}

@import './font-size';