@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

:root {
  --header-height: 100px;
  --sp-header: rgb(26, 148, 255);
  --body-color: #efefef;
  --title-color: #000000;
  --text-color: rgb(36, 36, 36);
  --white-color: #fff;
  --border-input-primary: 1px solid #ddd;
  --red-primary: red;
  --google-color-primary: #EA4335;
  --facebook-color-primary: #1A73E3;
  --light-gray-primary: #ddd;
  --gray-primary: #F6F6F6;
  --gray-secondary: #CCCCCD;
  --gray-dark-primary: #828282;
  --form-size-primary: 450px;
  --shadow-sm: 0px 2px 8px rgba(0, 0, 0, .15);
  --shadow-md: 0px 4px 8px rgba(0, 0, 0, .2);
  --size-4: 4px;
  --size-8: 8px;
  --size-12: 12px;
  --size-14: 14px;
  --size-16: 16px;
  --size-18: 18px;
  --size-20: 20px;
  --size-24: 24px;
  --size-28: 28px;
  --size-32: 32px;
  --size-40: 40px;
  --size-42: 42px;
  --size-60: 60px;
  --size-64: 64px;
  --mw-image-form: 600px;
  --weight-700: 700;
  --f-width: 100%;
  --text-small-primary: 300px;
  --f-height: 100vh;
  --form-background-primary: linear-gradient(219.77deg, #FF82F5 0%, #3D86F3 99.17%);
}
@import "./font-size";
@import './transtition';
@import './transition-group';

body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}
.d-flex {
  display: flex;
}
.d-block {
  display: block;
}
.d-none {
  display: none;
}
.justify-content-start {
  justify-content: flex-start;
}
.justify-content-center {
  justify-content: center;
}
.justify-content-end {
  justify-content: flex-end;
}
.align-items-start {
  align-items: flex-start;
}
.align-items-center {
  align-items: center;
}
.align-items-end {
  align-items: flex-end;
}
