@import '/src/styles/font-size';
.checkbox{
    width: var(--size-20);
    height: var(--size-20);
    outline: var(--border-input-primary);
    border-radius: var(--size-4);
    transition: all .15s ease-in-out;
    i{
        color: var(--white-color);
        @include font-size('small');
    }
}
.is-checked{
    background: var(--sp-header);
    outline: none;
}